@charset "utf-8";


body{
  margin: 0;
  font-size:20px;
}
.brown{
    background-color:#ddd;
    border:1px;
}


.cover{
     width:100%;
     height:100%;
}

img{
  background-color: black;
  width: 350; height: 350;
  object-fit: contain;
}

.button {
  width: 280px;
  background-color: #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgba(136,136,136,1);
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
  padding: 10px 0;
}
.button:hover {
  opacity:0.5;
}

.inline{
  display:inline-block;
}

